@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>ReQuest Application</h1>
    <p class="lead">ReQuest is used for INTER-BC students to create reservation for a classroom.</p>
    <p><a href="/Request" class="btn btn-primary btn-lg">Send Request &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Calendar</h2>
        <p>
            ReQuest give you the ability to see differents activities running during the semester.
        </p>
        <p><a  href="/Calendar" class="btn btn-default" href="/Calendar">Calendar &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>For more information about how to use ReQuest Application contact us.</p>
        <p><a href="/Home/Contact" class="btn btn-default">Contact Us &raquo;</a></p>
    </div>
</div>